---
layout: default
---

{% include contact-header.html %}
{% include certs.html %}

<!-- Contact -->
<section>

  <div class="dual-pane-container">
    <div class="width-50 float-left" style="padding-bottom:60px">
      <div class="text-container" style="padding-right:80px">
        <h2>Location</h2>
        <p>
          Located just minutes from the M4, on the A4138 in Dafen Trade Park, we welocme you to pop into the office for a chat. There is someone in the office from 9.00am to 5.00pm every weekday, so drop by and we'd be happy to help.
        </p>
      </div>
    </div>
    <div class="width-50 float-left">
      <div class="dual-pane-image" style="background-image:url('images/contact/contact-2.png');background-position:top left !important;">
        <a target="_blank" href="https://www.google.co.uk/maps/place/Llanelli,+Carmarthenshire+SA14+8NA/@51.6895993,-4.1241753,18z/data=!3m1!4b1!4m2!3m1!1s0x486ef2069f64d16f:0xe61dbb4edaa72f49?hl=en" style="display:block;width:100%;height:100%;"></a>
      </div>
    </div>
  </div>

</section>
