---
layout: default
---

{% include contact-header.html %}
{% include certs.html %}

<section class="width-100">

  <!-- Estimates & Pricing -->
  <div class="dual-pane-container">
    <div class="width-50">
      <div class="text-container">
        <h2>Pricing</h2>
        <p>
          Our prices are calculated based on an hourly rate with a one hour minimum charge. Pricing thereafter is increased at 30 minute intervals. We are able to carry out a number of jobs at a fixed price or according to an estimate. Please call our office on <a class="link" href="tel:01554772744">01554 772744</a> to learn more about our standard hourly charges.
        </p>
        <p>
          <i>
            Materials supplied by DD Plumbers will be charged at trade price plus 10% mark up and are subject to VAT.
            Fixed Prices can be provided if requested by either a verbal or a written quotation by the engineer prior to the work commencing. All prices are subject to VAT.
          </i>
        </p>
      </div>
    </div>
    <div class="width-50">
      <div class="text-container">
        <h2>Estimates</h2>
        <p>
          Estimates can be carried out Monday to Friday between 8.00am and 5.00pm. An appointment can be made at a time that suits you and estimates outside of these hours can be arranged. Written estimates will be posted (or emailed) within 48 hours of an estimator's visit and are valid for 6 months.
          <br>
          <br>
          <i>
            For urgent work, estimates can be arranged promptly and work can then commence immediately.
          </i>
        </p>
      </div>
    </div>
  </div>

  <hr class="margin-top-100">
  <!-- Payment Mathods -->
  <div class="max-width margin-bottom-100">
    <div class="text-container">
      <h2>Payment Methods</h2>
      <div class="payment-container bullet-container width-100">
        <div>
          <h3>Cheques</h3>
          <h4>Payable to DD Plumbers LTD</h4>
        </div>
        <div>
          <h3>Cash</h3>
          <h4>Payment to DD Plumbers Ltd</h4>
        </div>
        <div>
          <h3>BACs</h3>
          <h4>Electronic bank transfer</h4>
        </div>
      </div>
    </div>
  </div>

</section>
