<!-- Certs Section -->
<div class="bullet-container width-100">
  <div>
    <h3>24 Hour</h3>
    <h4>Emergency Services</h4>
    <img src="images/bullets/emergency.jpg" alt="" />
  </div>
  <div>
    <h3>Gas Safe</h3>
    <h4>Registered</h4>
    <img src="images/bullets/gas-safe.gif" alt="" />
  </div>
  <div>
    <h3>OFTEC</h3>
    <h4>Approved</h4>
    <img src="images/bullets/oftec.png" alt="" />
  </div>
  <div>
    <h3>SAFE</h3>
    <h4>Contractor</h4>
    <img src="images/bullets/safe.png" alt="" />
  </div>
</div>
