<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>DD Plumbers | Plumbing &amp; Gas Services</title>
  <meta name="author" content="Dafen Trade Park">
  <meta name="description" content="Located in Llanelli, South Wales DD Plumbers provide plumbing, heating and gas solutions to Llanelli, Swansea, Carmarthen and the surrounding areas. Emergency plumbing services available 24 hours a day, 365 days a year; we provide plumbers and gas engineers all across Carmarthenshire.">
  <meta name="keywords" content="dafen, llanelli, carmarthenshire, plumbing, heating, gas, professional, services, economical rates, 24 hours, 365 days, engineers, burst, pipe, leak, kitchen, bathroom, boiler, install, installation, swansea, carmarthen, carmarthenshire">
  <link rel="canonical" href="http://www.ddplumbers.co.uk/">
  <link rel="icon" href="images/favicons/favicon.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/master.css" media="all" title="master" charset="utf-8">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Analytics -->

</head>
