<!-- Navigation -->
<nav role="navigation" id='navigation' class="navigation closed">

  <div>
    <a class="logo" title="DD Plumbers" href="/">
      <img class="logo-img" src="images/logo.png" alt="" />
    </a>
  </div>
  <div>
    <ul class="list--site-navigation">
      <li><a title="Quote" href="/quote">Quote</a></li>
      <li><a title="Pricing" href="/pricing">Pricing</a></li>
      <li><a title="Services" href="/services">Services</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Contact" href="/contact">Contact</a></li>
    </ul>
  </div>
  <span id="close-menu-button">&times;</span>

</nav>

<div id='responsive-nav' class="responsive-nav">
  <a class="responsive-nav-logo" title="DD Plumbers" href="/">
    <img class="logo-img" src="images/logo.png" alt="" />
  </a>
  <span>
    <a id="menu-button">Menu</a>
  </span>
</div>
